<h1> Movie Application</h1>

<p> <%= data.Search[0].Title %></p>

<p> <% data.Search.forEach(function(movie){ %>
     <p></p>
    <li>Title :<%= movie.Title %> </li>
    <li>Year: <%= movie.Year %> </li>
    <li>Type:<%= movie.Type %> </li>
    <li>ID:  <%= movie.imdbID %> </li>
       <%  }) %>
    </p>